[main]
fullscreen=no
width=1920
height=1080
host=localhost
port=6600
style=style.css
music_dir=/music_dir
sound_card=0
sound_device=0

[lastfm]
api_key=
api_secret=
save_cover=no

[keys]
playpause=]
stop=[
cue='
rewind=;
next=/
previous=.
info=\
outputs=,
options=-
browser=1
playlist=2
full_browser=3
full_bottom=4
full_playback=5
full_playlist=6
