* {
    /*
    background-color: #a0a0a0;
    color: black;
    */
    border-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-right-color: black;
}

window {
    /*background-color: #555555;*/
    background: linear-gradient(lightgray, #404040);
    color: white;
    font-size: 18pt;
    font-family: Verdana;
}

box {
    padding: 5px 5px 5px 5px;
}

grid#playback-pane label {
    /*background-color: #b0b0b0;*/
    padding: 0px 8px 8px 8px;
}

grid#playback-pane image{
    /*background-color: #404040;*/
    padding: 0px 0px 0px 0px;
}

scrolledwindow {
    padding: 7px 7px 7px 7px;
}

label#current-title {
    font-size: 36pt;
    font-weight: bold;
    text-shadow: -2px -2px 2px black, 2px -2px 2px black, -2px 2px 2px black, 2px 2px 2px black;
    /*text-shadow: 2px 2px 4px #000000;*/
}

label#current-artist {
    font-size: 28pt;
    font-weight: bold;
    text-shadow: -2px -2px 2px black, 2px -2px 2px black, -2px 2px 2px black, 2px 2px 2px black;
}

label#current-album {
    font-size: 24pt;
    text-shadow: -2px -2px 2px black, 2px -2px 2px black, -2px 2px 2px black, 2px 2px 2px black;
}

label#current-time, label#end-time {
    font-size: 14pt;
}

button, button * {
    background: black;
    color: white;
}
button:active, button:active * {
    color: black;
    background: white;
}

button:focus, button:focus * {
    color: black;
    background: lightgray;
}

dialog, messagedialog {
    background-color: #b0b0b0;
    color: #000000;
    font: 16pt arial;
}

#progressbar block.filled {
    background-color: #707090;
}
#progressbar * {
    background-color: #d5e5e5;
}

/*
scrolledwindow * {
    background-color: lightgray;
}
*/

scrolledwindow *:selected, scrolledwindow *:selected * {
    background-color: #505065;
    color: #d5e5e5;
}

