window {
    background: linear-gradient(lightgray, #484848);
    color: white;
    font-size: 18pt;
    font-family: Verdana;
}

box {
    padding: 0px;
}

grid#playback-pane label {
    padding: 0px 8px 8px 8px;
}

grid#playback-pane image {
    padding: 0px;
}

scrolledwindow {
    padding: 7px;
}

#current-title {
    padding: 5px 0px 0px 10px;
    font-size: 48pt;
    font-weight: bold;
    text-shadow: -5px -5px 5px black, -5px 5px 5px black, -5px 5px 5px black, 5px -5px 5px black,  5px 5px 5px black,
                  5px -5px 5px black,  5px 5px 5px black,  5px 5px 5px black;
}

#current-artist {
    padding: 5px 0px 0px 10px;
    font-size: 40pt;
    font-weight: bold;
    text-shadow: -4px -4px 4px black, -4px 4px 4px black, -4px 4px 4px black, 4px -4px 4px black,  4px 4px 4px black,
                  4px -4px 4px black,  4px 4px 4px black,  4px 4px 4px black;
}

#current-album {
    padding: 2px 0px 0px 10px;
    font-size: 36pt;
    text-shadow: -4px -4px 4px black, -4px 4px 4px black, -4px 4px 4px black, 4px -4px 4px black,  4px 4px 4px black,
                  4px -4px 4px black,  4px 4px 4px black,  4px 4px 4px black;
}

#current-time {
    padding: 2px 0px 0px 10px;
    font-size: 28pt;
    text-shadow: -2px -2px 2px black, -2px 2px 2px black, -2px 2px 2px black, 2px -2px 2px black,  2px 2px 2px black,
                  2px -2px 2px black,  2px 2px 2px black,  2px 2px 2px black;
}

#stats1, #stats2 {
    padding: 0px 0px 0px 10px;
    font-size: 20pt;
    text-shadow: -2px -2px 2px black, -2px 2px 2px black, -2px 2px 2px black, 2px -2px 2px black,  2px 2px 2px black,
                  2px -2px 2px black,  2px 2px 2px black,  2px 2px 2px black;
}

button {
    padding: 5px;
    background: black;
    color: white;
    border-radius: 0%;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}
button:active {
    color: black;
    background: white;
    border-radius: 0%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

button:focus {
    color: black;
    background: gray;
}

dialog, messagedialog, Dialog, MessageDialog {
    background-color: #b0b0b0;
    color: #000000;
    font: 16pt arial;
}

#progressbar block.filled, #progressbar Block.filled {
    background-color: #585090;
}
#progressbar * {
    background-color: #d5e5e5;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 0%;
}

#current-track {
    background-color: #404040;
    color: #f0f080;
}

scrolledwindow *:selected, scrolledwindow *:selected *, GtkScrolledWindow *:selected, GtkScrolledWindow *:selected * {
    background-color: #505065;
    color: #d5e5e5;
}

#button-box {
    padding: 5px;
}
